.signup-container {
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
  display: flex;
}

.signup-subcontainer {
  width: 35%;
  /* border:1px solid #7fad39; */
  overflow:hidden;
  overflow-y:auto;

  height: 85%;
  margin: auto;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.subcontainer {
  width: 100%;
  display: flex;
}
.header-container {
  width: 100%;
  height: 15%;
}

.header {
    /* text-decoration:underline; */
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-top:5%;

  font-size: 2rem;
  font-weight: 600;
}

.body-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.body-subcontainer {
    /* padding: 5%; */
    width: 100%;
    padding-top:5%;
    padding-left: 10%;
    padding-right: 10%;
}
.input-container {
  margin-bottom: 1rem;
}

.input-header {
  margin-left: 0.25rem;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.submit-button {
  margin-top: 8%;
  display: flex;
}

@media only screen and (max-width: 500px) {
    .signup-subcontainer {
        width:90%;
        height:65%;
    }

    
  }